.swal-text{
    font-size: 1.8rem;
    color:rgb(128, 24, 128);
    font-weight: bolder;
    text-align: center;
}
.swal-button{
    color:rgb(235, 210, 210);
    background-color: rgb(128, 24, 128);
    }
.swal-button:not([disabled]):hover {
        color:rgb(99, 13, 99);
        background-color: #e9b1df;
    }

.swal-footer {
    text-align: center;
}
    