.nav-item {
    color: rgb(253, 154, 171);
    font-size: larger;
    text-decoration: none;
    font-weight: bolder;
    
        
}
.nav-item:hover{
    color:rgb(248, 68, 98);
    text-shadow: 2px 2px rgba(218, 211, 211, 0.377);
}